openai
tiktoken
ragas
python-dotenv
huggingface_hub
qdrant_client
fastembed
pytest
arize-phoenix

langchain
langchain_experimental
langchain-anthropic
langchain_huggingface
langchain-openai

llama_index
llama-index-vector-stores-qdrant
llama-index-embeddings-fastembed
llama-index-multi-modal-llms-openai
llama-index-llms-anthropic
llama-index-llms-openai
llama-index-callbacks-deepeval